@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: #fff;
	background-color: #4b6473;
	background-image: url(assets/stars1.png), url(assets/stars2.png), url(assets/stars3.png);
	font: 32px 'Press Start 2P', monospace;
	text-transform: uppercase;
	//animation: stars 16s linear infinite, fade 10s steps(5) 16s forwards;
}

section {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.loading {
	& > * {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.get-ready {
	}

	.start {
		display: none;
		margin: 0;
		padding: 16px 32px;
		border: 8px solid #fff;
		border-radius: 0;
		color: #fff;
		background-color: #f89f1b;
		font: inherit;
		text-transform: inherit;
		appearance: none;
		cursor: pointer;
	}
}

.playing {
	display: none;
}

img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -184px 0 0 -64px;
	animation: toast 6s ease infinite;
}

.dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 24px 0 0 -300px;
	width: 552px;
	padding: 12px;
	background-color: #fff;
	border: solid 12px #000;
}

.dialog div {
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	animation: dialog 5s steps(24) forwards;
}

.dialog div:nth-child(1) {
	animation-delay: 0s;
}

.dialog div:nth-child(2) {
	animation-delay: 6s;
}

.dialog div:nth-child(3) {
	animation-delay: 12s;
}

@keyframes toast {
	50% { transform: translateY(64px); }
	100% { transform: translateY(0); }
}

@keyframes dialog {
	100% { width: 100%; }
}

@keyframes stars {
	100% { background-position: -2048px 512px, -4096px 512px, -8192px 512px; }
}

@keyframes fade {
	100% { background-color: #1d272d; }
}
