@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: #fff;
	background-color: #4b6473;
	background-image: url(assets/stars1.png), url(assets/stars2.png), url(assets/stars3.png);
	font: 32px 'Press Start 2P', monospace;
	text-transform: uppercase;
	//animation: stars 16s linear infinite, fade 10s steps(5) 16s forwards;
}

.get-ready {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.start {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 16px 32px;
	border: 8px solid #fff;
	border-radius: 0;
	color: #fff;
	background-color: #f89f1b;
	font: inherit;
	text-transform: inherit;
	appearance: none;
	cursor: pointer;
}

.toast {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -184px 0 0 -64px;
	animation: toast-fade-in 8s steps(8), toast 6s ease infinite;
}

.dialog {
	display: none;
	position: absolute;
	top: calc(75% - 136px);
	left: calc(50% - 384px);
	width: 768px;
	height: 272px;
	padding: 32px;
	border: solid 8px #000;
	color: #000;
	background-color: #fff;
	line-height: 2;
	overflow: hidden;
	animation: dialog-grow-in 1s linear,
}

.dialog div {
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	animation: dialog 5s steps(24) forwards;
}

.dialog div:nth-child(1) {
	animation-delay: 0s;
}

.dialog div:nth-child(2) {
	animation-delay: 6s;
}

.dialog div:nth-child(3) {
	animation-delay: 12s;
}

@keyframes toast-fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes dialog-grow-in {
	0% { transform: scaleY(0); }
	100% { transform: scaleY(1); }
}


@keyframes toast {
	50% { transform: translateY(64px); }
	100% { transform: translateY(0); }
}

@keyframes dialog {
	100% { width: 100%; }
}

@keyframes stars {
	100% { background-position: -2048px 512px, -4096px 512px, -8192px 512px; }
}

@keyframes fade {
	100% { background-color: #1d272d; }
}
